* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    background: #252727;
    background: -moz-linear-gradient(120deg, #252727 50%, #575b5b 100%);
    background: -webkit-linear-gradient(120deg, #252727 50%,#575b5b 100%);
    background: linear-gradient(to 120deg, #252727 50%,#575b5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252727', endColorstr='#575b5b',GradientType=1 );
}

/* The unit types chooser */
#unit-types {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: rgb(109, 111, 112);
    border-radius: 8px;
    display: flex;
    width: 80px;
}

.unit {
    border-radius: 8px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    color: rgb(193, 197, 191);
    width: 50%;
    cursor: pointer;
}

.unit.active {
    background-color: rgb(247, 216, 157);
    color: rgb(149 ,127, 89);
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
}


/* The current conditions block */
#current-conditions {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
}

#graphic-loc-date {
    display: flex;
    align-items: center;
}

#current-conditions #temp-cond {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#current-conditions #temp-cond #temp {
    font-size: 150px;
}

.cond {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    margin-top: -20px; 
}

.cond .row {
    padding: 0px 0px 15px 10px;
    display: flex;
    align-items: center;
}

.cond .row i {
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.3);
}

.cond .row span {
    padding-right: 20px;
}

#current-conditions #loc {
    min-width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: -20px;
}

#current-conditions #loc i {
    font-size: 80%;
    padding-right: 15px;
    margin-top: -2px
}

#current-conditions #loc input {
    position: absolute;
    right: 0;
    top: -2px;
    width: 200px;
    padding: 0 20px 0 0;
    font-family: Roboto;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

#current-conditions #loc i.fa-times {
    position: absolute;
    top: 15px;
    right: -15px;
    font-size: 50% !important;
    color: #fff;
    cursor: pointer;
}

#current-conditions #loc #locations-list {
    position: absolute;
    top: 40px;
    right: 0;
    width: 400px;
    font-size: 60%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 10px;
    z-index: 1;
}

#current-conditions #loc #locations-list .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px 15px;
    cursor: pointer;
}

#current-conditions #loc #locations-list .row:hover {
    background-color: rgba(240, 206, 125, 1);
    color: rgba(0, 0, 0, 1);
}

#current-conditions #date {
    margin-top: 10px;
    color: rgb(129 ,134, 136);
    letter-spacing: 3px;
    text-align: right;
    min-width: 250px;
}

#current-conditions #graphic {
    font-size: 60px;
    color: #fff;
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
    margin-right: 20px;
}

#current-conditions #graphic img {
    border: 0px;
    width: 100px;
    height: 100px;
}

#current-conditions #graphic #condition-text {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 11px;
}

#current-conditions #controls {
    font-size: 80%;
    display: flex;
    justify-content: flex-end;
}

#current-conditions #controls .faded {
    color: rgba(255, 255, 255, 0.45);
}

#current-conditions #controls a {
    padding: 0 20px 0 20px; 
}

#current-conditions #controls i {
    color: rgba(255, 255, 255, 0.4);
}


/* The forecast strip */
#forecast {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#forecast .day {
    background-color: #f6cd6f;
    color: rgba(0, 0, 0, .5);
    padding: 20px 50px;
    transform-origin: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#forecast .day:last-of-type {
    border-radius: 0 5px 5px 0;
}

#forecast .day:first-of-type {
    border-radius: 5px 0 0 5px;
}

#forecast .day .dow {
    font-weight: bold;
    font-size: 120%;
    color: rgba(0, 0, 0, .3);
}

#forecast .day:nth-child(even) {
    background-color: rgb(250, 225, 170);
}

#forecast .day .row {
    margin: 20px 0;
    text-align: center;
}

#forecast .day .row i {
    opacity: 0.5;
    transform-origin: center;
    transform: scale(0.8, 0.8);
    padding-right: 10px;
}

#forecast .day.today {
    border-radius: 5px;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.25, 1.25) translateY(-10px) translateX(-10px);
    border-right: none;
}



/* The hourly report */
#hourly-report {
    position: absolute;
    left: 140px;
    top: 30px;
    font-size: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    color: #fff;
}

#hourly-report h2 {
    padding: 0 0 10px 10px;
    margin: 0;
}

#hourly-report h2 .date {
    color: rgba(255, 255, 255, 0.4);
}

#hourly-report .cond {
    margin-top: 0;
}



/* General rules */
.hidden {
    opacity: 0 !important;
}
